[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	abandon = group slim_tm
	push = group slim_tm
	pushMerge = group slim_tm
	label-Code-Review = -2..+2 group slim_tm
	label-Verified = -1..+1 group slim_tm
	rebase = group slim_tm
	submit = group slim_tm
	submitAs = group slim_tm
	viewDrafts = group slim_tm
	publishDrafts = group slim_tm
	labelAs-Code-Review = -2..+2 group slim_tm
	labelAs-Verified = -1..+1 group slim_tm
	removeReviewer = group slim_tm
	forgeCommitter = group slim_tm
